#header{
    height: 70px;
    background: #ffffff;
    color: #1b3e8e;
    box-shadow: 0 8px 6px -6px #999;
    /* font-family: Basefont; */
}
#header a > img:hover{
  transition: transform .8s;
  transform: scale(1.2);
}
#header a:link, #header a:visited {
      color: #041418;
  }
#branding h1{
    color: #1b3e8e;
  }
.module h2, .module caption, .inline-group h2{
    background-image: linear-gradient(#1b3e8e, #2a49929d);
    color: rgb(255, 255, 255);
  }
a.section:link, a.section:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.section:link:hover, a.section:visited:hover {
  color: #ffcd3a;
  text-decoration: none;
}

div.breadcrumbs {
  background:linear-gradient(#ffcd3a, #ffda6ccc);
  color: #1b3e8e;
}
div.breadcrumbs a {
  color: #071024;
}
div.breadcrumbs a:hover{
  color: #1b3e8e;
}

#content-main td > a:link, a:visited {
  border-radius: 10px;
  margin: 2px;
  padding-right: 1px;
}

#content-main th > a:link:hover, a:visited:hover {
  border: 2px solid #1b3e8e;
  border-radius: 10px;
  padding: 4px;
  transition: 0.4s;
}

tr:nth-child(odd), .row-form-errors {
  background: #1b3e8e2c;
}
tr:nth-child(even), .row-form-errors {
  background: #1b3e8e1a;
}

#content-related {
  border-radius: 15px;
  background: linear-gradient(#ffffffb4, #ffffff8a);
}

.object-tools a:link, .object-tools a:visited {
  background: #1b3e8e;
  color: var(--object-tools-fg);
}
.object-tools a:link:hover, .object-tools a:visited:hover{
  transition: transform .2s;
  transform: scale(1.1);
}
.content {
  background-color: #ffce3a91;
}

.button.default, input[type=submit].default, .submit-row input.default {
  background: #0a5c0e;
  border-radius: 25px;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #1b3e8eec;
  border-radius: 20px;
}

body{
  background-image: url('/static/img/bg2.1.png');
  background-repeat: repeat-y;
  background-size: cover;
}
/* #header{
  height: 50px;
  background: red;
  color: #000;
}
#header a:link, #header a:visited {
    color: #2b6471;
}
#branding h1{
  color: #000;
}
h1{
  color: #000;
}
.module h2, .module caption, .inline-group h2{
  background: #aabbdd;
  color: #000;
  height: 40px;
}
a.section:link{
  color: #000;
}
a:link{
  color: #000;
}
div.breadcrumbs {
  background: #aabbdd;
  color:#10284e;
}
div.breadcrumbs a {
  color: #333;
} */
caption {
  caption-side: top !important;
}

/* h1 {
  font-size: 20px !important;
  font-weight: 300 !important;
}

h2 {
  font-size: 16px !important;
  font-weight: bold !important;
} */

/* .absolute-crop {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0,0,0,.5);
} */