{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin/image_gallary.css' %}">
<form>
<<<<<<< HEAD
  <div class="container viewimg headng" style="width:100%">
  <div>debtors</div>
</div>
=======
  <div><h1><b>DEBTORS</b></h1></div>
>>>>>>> 21edf0d037d973783741335c5c84621261180824
<div class="card viewimg">
  {% for i in sundry_debtors %}
  <table border="=1">
    <tr>
      <td>Amound</td>
<<<<<<< HEAD
      <td>voucher name</td>
    </tr>
    <tr>
      <td>{{i.Total}}</td>
      <td>{{i.Total}}</td>
    </tr>
  </table>
  {% endfor %}
  <!-- {% if sundry_debtors.Total is none %}
  No data to show
{% endif %} -->
  </div>
<div class="container viewimg headng" style="width:100%">
  <div>creditors</div>
</div>
  <div class="card viewimg">
    {% for i in sundry_creditors %}
    <table border="=1">
      <tr>
        <td>Amound</td>
        <td>voucher name</td>
      </tr>
      <tr>
        <td>{{i.Total}}</td>
        <td>{{i.Total}}</td>
      </tr>
    </table>
    {% endfor %}
    <!-- {% if sundry_creditors.Total is none %}
    No data to show
{% endif %} -->
=======
      <td>Ledger name</td>
      <td>description</td>
    </tr>
    <tr>
      <td>{{i.opening_bal}}</td>
      <td>{{i.ledger_name}}</td>
      <td>{{i.description}}</td>

    </tr>
  </table>
  {% endfor %}
  </div>
  <br><br><br>
  <hr>
  <br><br>
  <div><h1><b>CREDITORS</b></h1></div>
  <div class="card viewimg">
    {% for i in sundry_creditors %}

    <table border="=1">
      <tr>
        <td>Amound</td>
        <td>Ledger name</td>
        <td>description</td>
      </tr>
      <tr>
        <td>{{i.opening_bal}}</td>
        <td>{{i.ledger_name}}</td>
        <td>{{i.description}}</td>
        
  
      </tr>


    </table>
    {% endfor %}

>>>>>>> 21edf0d037d973783741335c5c84621261180824
    </div>
      <div class="container viewimg a" style="width:1000px">
        <input type="submit" value="close">
</form>
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}

>>>>>>> 21edf0d037d973783741335c5c84621261180824
