{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
{%for i in bill%}
<h2><a href="{{i.purchase_bill.url}}">Click to view BILL</a></h2>
{% endfor %}
{% endblock %}
