{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<table>
    <tr>
        <th>PRODUCT</th>
        <th>QUANTITY</th>
    </tr>
{% for i in prods%}
<tr>
    <td>{{i.product_name}}</td>
    <td>{{i.quantity}}</td>
</tr>
{% endfor %}
</table>
<br>
<input type="submit" name="consider" value="Mark Request as Considered">
<br>
{% endblock %}
