{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<h1>Total stock available : {{total}}</h1>
<input type="submit" value="View all batches" name="batches">
<br>
{% endblock %}
