{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<table>
    <tr>
        <th>BATCH NO</th>
        <th>QUANTITY</th>
        <th>BATCH EXPIRY</th>
    </tr>
    {% for i in form %}
    <tr>
      <td>{{i.batch_no}}</td>
      <td>{{i.stock_quantity}}</td>
      <td>{{i.batch_expiry}}</td>
    </tr>
    {% endfor %}
</table>
<h2>Total Stock : {{total}}</h2>

{% endblock %}
