{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<h1>Current Internal stock</h1>
<table>
{% for i in stock %}
<tr>
    <td>{{i.product}}</td>
    <td>{{i.stock_quantity}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
