canvas{
    max-width: 100%;
    display: inline-block;
  }
  #cropImageBtn{
    display: none;
  }
  #cropImageBtn1{
    display: none;
  }
  .img-preview{
    float: left;
  }
  .singleImageCanvasContainer{
    max-width: 300px;
    display: inline-block;
    position: relative;
    margin: 2px;
  }
  .singleImageCanvasCloseBtn{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(172, 108, 108, 0.2);
    transition: 0.3s;
    width: 50%;
  }
  

