canvas{
    max-width: 100%;
    display: inline-block;
  }
  #cropImageBtn{
    display: none;
  }
  #cropImageBtn1{
    display: none;
  }
  .img-preview{
    float: left;
  }
  .singleImageCanvasContainer{
    max-width: 300px;
    display: inline-block;
    position: relative;
    margin: 2px;
  }
  .singleImageCanvasCloseBtn{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(172, 108, 108, 0.2);
    transition: 0.3s;
    width: 50%;
  }

  .custom_fileupload {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    /* position: absolute !important; */
    white-space: nowrap;
    width: 15%;
    height: 15%;
    cursor: pointer;
  }
  
  .custom_fileupload::before {
    content: 'Choose files';
    width: 15%;
    /* height: 10%; */
    /* z-index: 9999; */
    position: absolute;
    background: #2b4b95;
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 5px;
  }


  .custom_fileupload_small {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    /* position: absolute !important; */
    white-space: nowrap;
    width: 15%;
    height: 3%;
    cursor: pointer;
  }
  
  .custom_fileupload_small::before {
    content: 'Choose files';
    width: 12%;
    /* height: 3%; */
    /* z-index: 99; */
    position: absolute;
    background: #2b4b95;
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 6px;
  }