.viewimg {
    float:left;
  }
  .card {
    transition: 0.3s;
    width: 298px;
  }
  .container {
    padding: 2px 16px;
  }
  .headng {
    height: 19px;
    background:gray;
    border: black;
    border-width: 2px;
    padding: 5px;
    display: inline-block;
    margin: 16px;
    text-align: center;
  }