.modal-title{
  color: white;
  text-align: center;
  background-color: lightblue;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 10px; */
  /* border: 4px solid; */
  width: 70%;
  max-height: 500px;
  min-height: 300px;
  overflow-y: scroll;
  position: relative;
  margin-right: 50px;
  /* width: 320px; */
  padding: 10px;
  border: 5px solid gray;
  /* margin: 0; */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




.viewimg {
  max-width:500px;
  /* float:left; */
}



.facilitypreview{
  display: flex;
 flex-direction: column;
}
/* .items{
 

} */

.images{
  display: inline-flexbox;
    max-height: 8000px;
    min-height: 300px;
    overflow-y: scroll;
  height: 100px;
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

/* .images{
  display: inline-flexbox;
    max-height: 8000px;
    min-height: 300px;
    overflow-y: scroll;
  width: 880px;
  height: 100px;
  border: 1px solid blue;
} */
.formgoup{
  padding: 70px;
  border: 1px solid #888;
}
.test{
  border: 5px solid #555;
  padding: 7px;
  margin:10px;
  width: 200px;
  height: 200px;
}


.services{
  border: 3px solid rgb(102, 201, 22);
  padding: 15px;

}
