{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<h2>Documents</h2>
<table>
<tr>
  <th>Name</th>
  <th></th>
</tr>
{%for i in documents%}
<tr>
<td><h4>{{i.doc_name}}</h4></td>
<td><a href="{{i.docs.url}}">click to view</a></td>
</tr>
{%endfor%}
</table>
<br>
<h2>Employees</h2>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone number</th>
    <th>Work title</th>
    <th>Staff status</th>
    <th>Photo</th>
  </tr>
{%for i in employee%}
{%if i.is_deleted is False%}
<tr>
<td><h5>{{i.first_name}}</h5></td>
<td><h5>{{i.last_name}}</h5></td>
<td><h5>{{i.phonenumber}}</h5></td>
<td><h5>{{i.work_title}}</h5></td>
{%if i.account_expiry_date is Null%}
<td><h5>PERMANENT STAFF</h5></td>
{%else%}
<td><h5>TEMPORARY STAFF</h5>(expiry:{{i.account_expiry_date}})</td>
{%endif%}
{%endif%}
<td><h5><img src="{{i.image.url}}" width="75" height="75"></h5></td>
</tr>
{%endfor%}
</table>
{% endblock %}
