{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}

<div class="container">
<h2 class="text-center"><u>Profit and loss Accounts</u></h2><br>  


<div>
 From Date  :<input type="date" class="form-control" name="test1" id="date" value="{{placement.date|date:"Y-m-d" }}">
 To Date  :<input type="date" class="form-control" name="test2" id="date" value="{{placement.date|date:"Y-m-d" }}">
<input type="submit" value="search">
</div>


  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Accounts :</th>
        <th>Profit:</th>
        <th>loss:</th>

      </tr>
    </thead>
    <tbody>


<tr>

<td>{{facility.facility_to_service_id}}</td>  
<td>{{facilityprofit}}</td>
<td>{{facilityloss}}</td>


</tr>

</tbody>
</table>
</div>
{% endblock %}