{% extends "admin/base_site.html" %}
{% block branding %}
<h1>Travlounge</h1>
{% endblock %}
{% block content %}
<h1>Total Facilities by status</h1>
<table>
    <tr>
        <th>FACILITY STATUS</th>
        <th>NO OF FACILITIES</th>
    </tr>
{%for i in all_facilities%}
<tr>
    <td>{{i.facility_status}}</td>
    <td>{{i.count}}</td>
</tr>
{% endfor %}
</table>
<br><br>
<h1>Total Employees in Facilities</h1>
<table>
    <tr>
        <th>FACILITY NAME</th>
        <th>NO OF EMPLOYEES</th>
    </tr>
{%for i in all_employees%}
<tr>
    <td>{{i.facility_to_service__facility__facility_name}}</td>
    <td>{{i.count}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
