{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}



{% if '1' in status %}
<fieldset class="module">
  <input type="submit" value="ASSIGN TICKET" name="apply0">
</fieldset>
{% elif "3" or "4" in status %}
<fieldset class="module">
<input type="submit" value="RE_ASSIGN TICKET" name="apply3">
  <input type="submit" value="CLOSE" name="apply4">
</fieldset>
{% endif %}
{% endblock %}
