{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% load static %}




 <script>
      $(document).ready(function() {
  $("select#id_GSN_number").change(function() {
    var selectedproduct = $(this).val();
    $.ajax({
            method: "GET",
            url: "/admin/STOCK_MANAGEMENT/missingproducts/add/",
            data: { 'pdt':selectedproduct,
                    },
                    success: function(data)
            {
              $("#id_product").html('');
              var k=data['data']
              var ln=k.length
              for (i = 0; i < ln; i++) {
                var ln2=data['data'][i].length;
                for (k = 0; k < ln2; k++) {
                    console.log(data['data'][i][k]);
                $("#id_product").append('<option value="' + data['data'][i][k].id+ '">' +data['data'][i][k].product__product_name+"batch:"+data['data'][i][k].batch_no+ '</option>');
                }
            }
            }
            
            })
  });
});

 </script>

 
{% endblock %}