{% extends "admin/change_form.html" %}
{% block after_field_sets %}{{ block.super }}


<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  </style>
  

  <table>
    {% for k in status %} 

    <tr>
      <td>product_id</td>
      <td>{{k.product_id}}</td>
    </tr>
 
    <tr>
      <td>Batch_no</td>
      <td>{{k.product__batch_no}}</td>
    </tr>
    <tr>
      <td>stock_quantity</td>
      <td>{{k.stock_quantity}}</td>
    </tr>

  <tr>
    <td>selling_price</td>
    <td>{{k.product__product__selling_price}}</td>
</tr>
<tr>
  <td>Batch_expiry</td>
  <td>{{k.product__batch_expiry}}</td>
</tr>
  </table>


{% endfor %}



{% for item in original.items_set.all %} {{ item }} {% endfor %}

{% endblock %}