{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
{% if not status %}
<script>
      $('#x').hide();
</script>
<fieldset class="module">
  <div class="x">
    <input type="submit" value="VERIFY GSN" name="apply0" ><br><br>
  </div>
</fieldset>

{% endif %}
{% endblock %}