{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
<!-- {% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %} -->
<fieldset class="module">
    Name:<input type="text" id="bid" name="banner"><br>
    Image : <input type="file" id='banner_file' onclick=" imageedit('#item-img-output','#hidden-image','#banner_file')"
        class="item-img file center-block" name="file_photo" />

    <input type="submit" value="submit" name="apply">

    <!-- crop inside modal -->
    <div class="modal fade custom-modal" id="cropImagePop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="upload-demo" class="center-block"></div>
                </div>
                <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</fieldset>


{% endblock %}
{% load thumbnail %}
{% thumbnail yourmodel.image 430x360 box=yourmodel.cropping crop detail %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"></script>
<script>

    $(".gambar").attr("src", "https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg");
    function imageedit(x, y, z) {

        if ($(z).get(0).files.length !== 0) {
            $(z).val(null);
        }
        var $uploadCrop,
            rawImg,
            imageId;
        function readFile(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo').addClass('ready');
                    $('#cropImagePop').modal('show');
                    rawImg = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop = $('#upload-demo').croppie({

            viewport: {
                width: 150,
                height: 200,
            },

            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop').on('shown.bs.modal', function () {

            // alert('Shown pop');
            $uploadCrop.croppie('bind', {
                url: rawImg
            }).then(function () {
                console.log('jQuery bind completeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee');
            });
        });

        $('.item-img').on('change', function () {
            imageId = $(this).data('id'); tempFilename = $(this).val();
            $('#cancelCropBtn').data('id', imageId); readFile(this);
        });
        $('#cropImageBtn').on('click', function (ev) {
            $uploadCrop.croppie('result', {
                type: 'base64',
                format: 'jpeg',
                size: { width: 370, height: 370 }
            }).then(function (resp) {
                $(x).attr('src', resp);
                $(y).attr('value', resp);
                $('#cropImagePop').modal('hide');
                $('#image-error').css('display', 'none');
            });
        });

    }

</script>