{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo;<a href="/admin/IT_ADMIN/">It_Admin</a>
  &rsaquo; <a href="../../../facility/{{x.id}}">facilities</a>
  &rsaquo; <a href="/admin/IT_ADMIN/facility/{{id.id}}/change/">{{id}}</a>
  &rsaquo; Images
</div>
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin/image_gallary.css' %}">
<form>
  <div class="container viewimg headng" style="width:100%">
    <h1 class="headtxt" style="color:white;"><b>Facility</b></h1>
</div>
  {% for k in form_f %}
  <div class="card viewimg" style="padding: 0px 3px 0px 7px;">
      <img src="{{k.photo}}" height="200px" style="width:300px">
      <div class="container">
          <a href="?id_delete={{k.id}}"><input type="button" class="card1" value="REMOVE" id={{i.id}}></a>
      </div>
    </div>
    {% endfor %}
    
      {% for k0 in form.items %}
      <div class="container viewimg headng" style="width:100%">
        <h1 class="headtxt" style="color:white;"><b>{{k0.0}}</b></h1>

    </div>
        {% for k2 in k0.1 %}
          <div class="card viewimg" style="padding: 0px 3px 0px 7px;">
            <img src="{{k2.1}}" height="200px" style="width:300px; ">
            <div class="container">
                <a href="?id_delete_service={{k2.0}}"><input type="button" class="button" value="REMOVE" id={{k.id}}></a></p>
            </div>
          </div>
          {% endfor %}
{% endfor %}
      <div class="container viewimg a" style="width:1000px; position: absolute; top: 16%; left: 93%;">
        <input type="submit" value="Close" style="background: #f44336;  position: sticky; top: 0; font-weight: bold;" onMouseOver="this.style.background='rgb(255, 8, 0)'" onMouseOut="this.style.background='#f44336'">
</form>
{% endblock %}

