{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}

{% if 'stopped' in status %}
<fieldset class="module">
  <input type="submit" value="RESTART" name="apply0">
</fieldset>
{% else %}
<fieldset class="module">
  <input type="submit" value="STOP" name="apply1">
</fieldset>
{% endif %}
{% endblock %}
