{% extends "admin/change_form.html" %}
{% block after_field_sets %}{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin/singlecrop.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
<link rel="stylesheet" href="./style.css">
{% for item in original.items_set.all %} {{ item }} {% endfor %}
{% endblock %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}

<img class="cropped" src="{{vehicle_img.image}}">
<div class="box-2 img-result hide">
    <img class="cropped" src="" alt="">
</div>
<main class="page">
    <!-- leftbox -->
    <div class="box-2">
        <div class="result"></div>
    </div>
    <!-- input file -->
    <div class="box">
        <div class="options hide">
            <input type="number" class="img-w" value="300" min="100" max="1200" hidden />
        </div>
        <!-- save btn -->
        <button type="button" class="btn save hide" id='crop'>crop</button>
        <button type="button" class="btn cancel hide" onclick="cancelclick()" id='new'>Cancel</button>
        <img id="cropped_image" class="fixed-size-crop-box" name='image-new' width="500" height="500">

    </div>
</main>
{% block submit_buttons_bottom %}
<div class="submit-row">
    <input type="submit" value="save" name="_save_btn" class="save_btn" onclick="functionvehicle()" />
</div>
{% endblock %}
<script>
    $("#cropped_image").hide()
    function cancelclick() {
        $(".page").css('display', 'none');
        changedImage = false;
    }
    $('.submit-row').hide()
    function functionvehicle() {
        event.preventDefault();


        if ($('#id_image').val() !== '' && $('#id_image_id').val() == '') {

            $('#service_type_form').append(`<p class="errornote">Please crop the image.</p>`);

        }
        else {
            $('#service_type_form').submit()
        }
    }
</script>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<script>
    // vars
    let result = document.querySelector('.result'),
        img_result = document.querySelector('.img-result'),
        img_w = document.querySelector('.img-w'),
        img_h = document.querySelector('.img-h'),
        options = document.querySelector('.options'),
        save = document.querySelector('.save'),
        cancel = document.querySelector('.cancel'),
        cropped = document.querySelector('.cropped'),
        dwn = document.querySelector('.download'),
        upload = document.querySelector('#id_image'),
        cropper = '';
    // on change show image with crop options
    upload.addEventListener('change', e => {
        $(".page").css('display', 'block');
        changedImage = true;
        if (e.target.files.length) {
            // start file reader
            const format_lst = ['jpg', 'jpeg', 'png', 'PNG', 'JPEG', 'JPG']
            var nh = e.target.files[0]['name'].split('.')[1]
            alert(e.target.files[0]['name'].split('.')[1])
            if (format_lst.includes(nh) == false) {
                // alert("omo!")
                $("#carwash_form").prepend('<p  class="errornote">Unsupported file extension, supported formates(jpg,jpeg,png.) </p>')
            }
            else {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        // create new image
                        let img = document.createElement('img');
                        img.id = 'image';
                        img.src = e.target.result;
                        result.innerHTML = '';
                        result.appendChild(img);
                        // show save btn and options
                        save.classList.remove('hide');
                        cancel.classList.remove('hide');
                        options.classList.remove('hide');
                        // init cropper
                        cropper = new Cropper(img, {
                            dragMode: 'move',
                            restore: false,
                            guides: false,
                            center: false,
                            highlight: false,
                            cropBoxMovable: false,
                            cropBoxResizable: false,
                            toggleDragModeOnDblclick: false,
                            // data:{ //define cropbox size
                            //   width: 2400,
                            //   height:  200,
                            // },
                        });
                        cropper.getCroppedCanvas({
                            maxHeight: 10,
                            maxWidth: 10

                        })

                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        }
    });
    // save on click
    cp = document.getElementById("crop")
    cp.addEventListener('click', e => {

        $("<h1>cropped image</h1>").insertAfter("#new");
        var croppedImageDataURL = cropper.getCroppedCanvas()
        $("#cropped_image").show()

        $("#cropped_image").attr("src", croppedImageDataURL.toDataURL("image/png"));
        $("#id_image_id").attr("value", croppedImageDataURL.toDataURL("image/png"))


    });

</script>
{% endblock %}