{% extends "admin/change_form.html" %}

{% block after_field_sets %}{{ block.super }}
{% load static %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/admin/cropper.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/crop.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/preview.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/cropimg.css' %}">


<input type="hidden" id="profile_img_data">
<div class="img-preview"></div>
<div id="galleryImages"></div>
<div id="cropper">
  <canvas id="cropperImg" width="0" height="0"></canvas>
  <input type="button" class="cropImageBtn" id="cropImageBtn" value="Crop">
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close" id="closeModal">&times;</span> -->
    <div class="modal-header">
      <h3 class="modal-title"> Preview</h3>
    </div>
    <div class="modal-body">
      <div class="formgoup">
        <div class="items">
          <div class="facilitypreview">
            <h2>Facility name:</h2><input type="text" value="" id='facility'>
            <h2>State:</h2> <input type="text" value="" id='state'>
            <h2>District:</h2><input type="text" value="" id='district'>
            <h2>Pincode:</h2><input type="text" value="" id='pincode'>
            <h2>Longitude:</h2><input type="text" value="" id='longitude'>
            <h2>Latitude:</h2><input type="text" value="" id='latitude'>
            <h2>District:</h2><textarea id="address" rows="10" cols="70"></textarea>
           <!-- <div id="img_hide"> -->
            <h2>Images:</h2>
            <div class="images">
           </div>
            
            <b></b><br>
            <hr size=2>
            
          </div>
          <u>
            <h2> Services:</h2>
          </u>
          <div class="services">
          </div>

        </div>
      </div>
    </div>




    <form action="">
      <input type="submit" value="Save" onclick="imgsave()">
      <input type="button" style="background-color: #3c548bec" onMouseOver="this.style.backgroundColor='#4a648bec'" onMouseOut="this.style.backgroundColor='#3c548bec'" value="Reset" onclick="window.location.reload();">
    </form>

    </p>
  </div>

</div>

<!-- ------------------------------------------------------------------------------------------------------- -->

<script>
  
  var img_service=[]
  var dict_service={}
  var dict_facility={}

  var final_lst=[]
  var final_lst2=[]
  var img_facility=''

  function imgsave(){
      // console.log(JSON.stringify(dict_facility),"..............................PPP.")
      // alert("ooo")
      document.getElementById('id_image_id').value = JSON.stringify(final_lst);
      // alert("pppp")
      document.getElementById('id_imageFacility_id').value = JSON.stringify(final_lst2);
      // alert("99999999")
  }
 
  function modalpop() {

    $("#myModal").val(null).trigger("change");
    $(".images").empty();
    $(".images").hide();
    $(".services").empty();

    popup();

    modal.style.display = "block";

  }

  function popup() {
    var img_one; 
    var img_facility = $('.cropped_facility').attr("src")


    var countfac = $('.result-fac').length;

    console.log(countfac,'count');

    var img_facility = [];

    // for(let i=1; i<=countfac; i++) {
    //   im = $('.cropped_facility'+i).attr('src');
    //   img_facility.push(im);
    // }
    



    // var img_facility = $('.cropped_facility').attr("src")
    var form_count = document.getElementById('id_facility_to_service_set-TOTAL_FORMS').value;
    // alert("6")

    for (count = 0; count < form_count; count++) {
      // alert("first for")
      var gst = $('#id_facility_to_service_set-'+count+'-gstin').val();
      service_typ = document.getElementById(`id_facility_to_service_set-${count}-service_type`);
      service_typ_name = service_typ.options[service_typ.selectedIndex].text;
      // -----------------------------------------------------------------------------------------------!!!!!
      // for (len_dict = 0; len_dict < form_count; len_dict++) {  
        // alert("2nd")

        // alert(count+'=count')   
        // alert(len_dict+'=len_dict')  
      //   console.log("....................................................final_lst")
      //   console.log(final_lst)
      // var img_len=final_lst[len_dict]['imgs'].length
      // alert(img_len)
      // // alert("007")
      // img_set=final_lst2[len_dict]['imgs'];
      // for (l = 0; l < img_len; l++) {
      //   img_one = $('<div class="col-md-2 mb-4 tab-thumbnail" id="img'+ l + '"></div>').html('<img src="'+img_set[l]+ '" / >');
      //   $('#services_img_here').append(img_one);
      // } 
    // }
    // alert("here")
    

    // service_typ = $('#id_facility_to_service_set-'+count+'-service_type').val();
    // alert(service_typ)
    // service_typ_name = service_typ.options[service_typ.selectedIndex].text;
    // alert(service_typ_name)
    
    var class_name=`.croppedid_facility_to_service_set-${count}-image`
    var numItems = $(class_name).length;
    img_service=[]
      for (i = 0; i < numItems; i++) {
        img= $(class_name).eq(i).attr("src")
        img_service.push(img)
      }
      for(let i=1; i<=countfac; i++) {
        im = $('.cropped_facility'+i).attr('src');
        img_facility.push(im);
      }
      dict_service={};
      dict_facility={};
      dict_facility['imgs']=img_facility;
      // dict_facility.imgs.map((value,index)=>{
      //   img src="value"
      // })
      dict_service['imgs']=img_service
      dict_service['gstn']=gst
      dict_service['service_typ']=service_typ;
      final_lst.push(dict_service);
      final_lst2.push(dict_facility);
      // console.log(final_lst);
      // console.log(final_lst2);
      $(`<br>`)
      $(`<h3>${service_typ_name}</h3>`).appendTo(".services");
      $(`<label for="service${count}">Gst number:</label>`).appendTo(".services");
      $(`<input type='text' value='${gst}' id=service${count} readonly>`).appendTo(".services");  
      $(`<br>`)

    }
    $(`<div id="services_img_here"><h3><u>Service Images:</u></h3><br></div>`).appendTo(".services");
    // for(var jk = 0; jk<8; jk++){
        
    // }
    for (len_dict = 0; len_dict < form_count; len_dict++) {     
      var img_len=final_lst[len_dict]['imgs'].length
      img_set=final_lst[len_dict]['imgs'];
      var img_one; 
      for (l = 0; l < img_len; l++) {
        img_one = $('<div class="col-md-2 mb-4 tab-thumbnail" id="img'+ l + '"></div>').html('<img src="'+img_set[l]+ '" / >');
        $(`#services_img_here`).append(img_one);
      } 
    }
    var facility = document.getElementById('id_facility_name').value;
    document.getElementById('facility').value = facility
    var state = document.getElementById('id_state').value;
    document.getElementById('state').value = state
    var pincode = document.getElementById('id_pincode').value;
    document.getElementById('pincode').value = pincode
    var district = document.getElementById('id_District').value;
    document.getElementById('district').value = district
    var longitude = document.getElementById('id_longitude').value;
    document.getElementById('longitude').value = longitude
    var latitude = document.getElementById('id_latitude').value;
    document.getElementById('latitude').value = latitude
    var Address = document.getElementById('id_Address').value;
    document.getElementById('address').value = Address
    var numItems = $('#galleryImages').children('div').length;
    for (count = 0; count < numItems; count++) {
      var canvas = document.getElementById(`imageCanvas${count}`);
      var dataURL = canvas.toDataURL();
      // $(".images").show();
      // $(` <img class="test" src="${dataURL}" width="300" height="400" alt="Red dot"/>`).appendTo('.images');
    }
    // console.log(countfac);
    // console.log(final_lst2);
    for(let j= 0; j<countfac; j++ ) {
      // console.log(j,'iteration');
      // console.log(final_lst2[0]['imgs'][j], 'in for');
      $(".images").show();
      $(` <img class="test" src="${final_lst2[0]['imgs'][j]}" width="300" height="400" alt="Red dot"/>`).appendTo('.images');
    }
    
    // for (len_dict = 0; len_dict < form_count; len_dict++) {     
    //   var img_len=final_lst[len_dict]['imgs'].length
    //   img_set=final_lst[len_dict]['imgs'];
    //   console.log(img_len);
    //   // var service_raw=
    //   //     +' <td>'+final_lst[len_dict]['gstn']+'</td>'
    //   //     +' <td>'+final_lst[len_dict]['service_typ']+'</td>'
    //   //     $('#services_gstn_here').append('<div class="col-md-2 mb-4 tab-thumbnail" id="img">'+service_raw+'</div>');

    //   var img_one; 
    //   for (l = 0; l < img_len; l++) {
    //     // console.log(img_set[l]);
    //     img_one = $('<div class="col-md-2 mb-4 tab-thumbnail" id="img'+ l + '"></div>').html('<img src="'+img_set[l]+ '" / >');
    //     $('#services_img_here').append(img_one);
    //     // service_raw = $('<div class="col-md-2 mb-4 tab-thumbnail" id="img'+ l + '"></div>').html('<img src="'+img_set[l]+ '" / >');
}

  //   var id = document.getElementById('id_facility_to_service_set-TOTAL_FORMS').value;
  //   for (count = 0; count < id; count++) {
  //     gst = document.getElementById(`id_facility_to_service_set-${count}-gstin`).value;
  //     service_typ = document.getElementById(`id_facility_to_service_set-${count}-service_type`);
  //     service_typ_name = service_typ.options[service_typ.selectedIndex].text;
  //     $(`<br>`)
  //     $(`<h3>${service_typ_name}</h3>`).appendTo(".services");
  //     $(`<label for="service${count}">Gst number:</label>`).appendTo(".services");
  //     $(`<input type='text' value='${gst}' id=service${count} readonly>`).appendTo(".services");
  //     $(`.serviceimage${count}`).remove();
  //     $(`<div class="serviceimage${count}"></div>`).appendTo(".services");
  //     $(`<br>`)
  //     if ($(`#id_facility_to_service_set-${count}-DELETE:checkbox:checked`).length == 1) {
  //       $(`<label for="theinput"> Is_deleted:<input type="checkbox" id="scales" name="scales"
  //        checked disabled></label>`).appendTo(".services");

  //     }





  //     alert("here")
  //     var service_image_count = $(`#id_facility_to_service_set-${count}-image_g`).children('div').length;
  //     for (i = 0; i < service_image_count; i++) {
  //       var num = 100 + i;
  //       var canvas = document.getElementById(`id_facility_to_service_set-${count}-image${num}`);
  //       var dataURL = canvas.toDataURL();
  //       $(` <img  class="test" src="${dataURL}"  width="200" height="400" alt="Red dot"/>`).appendTo(`.serviceimage${count}`);

  //     }


  //   }
  //   var delete_items = $('#id_facility_to_service_set-1-DELETE:checkbox:checked').length;
  //   console.log(delete_items)
  // }

  var modal = document.getElementById("myModal");


  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");



  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];


  // When the user clicks the button, open the modal 


  // When the user clicks on <span> (x), close the modal
  // span.onclick = function () {
  //   modal.style.display = "none";
  // }

  // When the user clicks anywhere outside of the modal, close it
  // window.onclick = function () {
  //   if (event.target == modal) {
  //     modal.style.display = "none";
  //   }
  // }

 
 $("#closeModal").click(function(){
    $(".services").empty();
  });


  // $('label[for=id_image_id], input#id_image_id').hide();
</script>
<link rel="stylesheet" href="{% static 'css/admin/singlecrop.css' %}" />
<script src="{% static 'js/download/cropper.min.js' %}"></script>
<script src="{% static 'js/admin/crop.js' %}"></script>
<script src="{% static 'js/admin/itadmin.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>





{% for item in original.items_set.all %} {{ item }} {% endfor %}

{% endblock %}

{% block inline_field_sets %}
<script>
  document.addEventListener('keypress', function (e) {
            if (e.keyCode === 13 || e.which === 13) {
                e.preventDefault();
                return false;
            }
            
        });
</script>

<!-- <div class="box-2 img-result_facility hide">
  <img class="cropped_facility" src="" alt="">
</div> -->
<div class="page1">

	<!-- leftbox -->
	<div class="box-2">
		<div class="result_facility"></div>
	</div>

	<!-- input file -->
	<div class="box">
		<div class="options_facility hide">
			<input type="number" class="img-w1" value="300" min="100" max="1200" hidden/>
		</div>
		<!-- save btn -->
		<button class="btn save_facility_img hide">crop</button>
    <button class="btn cancel_facility hide" type="button" onclick="cancelclickfacility()">Cancel</button>
		
	</div>
</div>

{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<div class="page">
	<!-- leftbox -->
	<div class="box-2">
		<div class="result"></div>
	</div>
	<!-- input file -->
	<div class="box">
		<div class="options hide">
			<input type="number" class="img-w" value="300" min="100" max="1200" hidden/>
		</div>
		<!-- save btn -->
		<button class="btn save hide" >crop</button>
    <button class="btn cancel hide" type="button" onclick="cancelclick(this)">Cancel</button>
		
	</div>
</div>
<div class="img-preview2"></div>
<div id="galleryImages_service"></div>
<div id="cropper_service">
  <canvas id="cropperImg_service" width="0" height="0"></canvas>
  <div id="can" value=""></div>
  <input type="button" class="cropImageBtn" id="cropImageBtn1" value="Crop">
</div>

{% if my_extra_content %}
<input type="submit" value="View all images" name="images" ><br>
<!-- onclick="viewallimages()" -->

{% endif %}
<!-- <script>
  function viewallimages(){
    event.preventDefault();
    var obj_id="{{my_extra_content}}"
    alert(obj_id)
    $.ajax({
        type: 'GET',
        url: 'imgViewFunction/',
        data: {
          'data': obj_id
        },
      })
    // onclick='location.href=test.html'

}
</script> -->

{% endblock %}




