{% extends "admin/change_form.html" %}

{% block after_field_sets %}{{ block.super }}
{% load static %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/admin/cropper.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/crop.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/preview.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/cropimg.css' %}">


<input type="hidden" id="profile_img_data">
<div class="img-preview"></div>
<div id="galleryImages"></div>
<div id="cropper">
  <canvas id="cropperImg" width="0" height="0"></canvas>
  <input type="button" class="cropImageBtn" id="cropImageBtn" value="Crop">
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-header">
      <h3 class="modal-title"> Preview</h3>
    </div>
    <div class="modal-body">
      <div class="formgoup">
        <div class="items">
          <div class="facilitypreview">
            <h2>Facility name:</h2><input type="text" value="" id='facility'>
            <h2>State:</h2> <input type="text" value="" id='state'>
            <h2>District:</h2><input type="text" value="" id='district'>
            <h2>Pincode:</h2><input type="text" value="" id='pincode'>
            <h2>Longitude:</h2><input type="text" value="" id='longitude'>
            <h2>Latitude:</h2><input type="text" value="" id='latitude'>
            <h2>District:</h2><textarea id="address" rows="10" cols="70"></textarea>
           <!-- <div id="img_hide"> -->
            <h2>Images:</h2>
            <div class="images">

            <!-- </div> -->
           </div>
            
            <b></b><br>
            <hr size=2>

          </div>
          <u>
            <h2> Services:</h2>
          </u>
          <div class="services">




          </div>
        </div>
      </div>
    </div>




    <form action="">
      <input type="submit" value="Save">
    </form>

    </p>
  </div>

</div>



<script>
  function modalpop() {

    $("#myModal").val(null).trigger("change");
    $(".images").empty();
    $(".images").hide();
    $(".services").empty();

    popup();

    modal.style.display = "block";

  }
  function popup() {


    var facility = document.getElementById('id_facility_name').value;
    document.getElementById('facility').value = facility
    var state = document.getElementById('id_state').value;
    document.getElementById('state').value = state
    var pincode = document.getElementById('id_pincode').value;
    document.getElementById('pincode').value = pincode
    var district = document.getElementById('id_District').value;
    document.getElementById('district').value = district
    var longitude = document.getElementById('id_longitude').value;
    document.getElementById('longitude').value = longitude
    var latitude = document.getElementById('id_latitude').value;
    document.getElementById('latitude').value = latitude
    var Address = document.getElementById('id_Address').value;
    document.getElementById('address').value = Address
    var numItems = $('#galleryImages').children('div').length;
    for (count = 0; count < numItems; count++) {
      var canvas = document.getElementById(`imageCanvas${count}`);
      var dataURL = canvas.toDataURL();
      $(".images").show();
      $(` <img class="test" src="${dataURL}" width="300" height="400" alt="Red dot"/>`).appendTo('.images');
    }



    var id = document.getElementById('id_facility_to_service_set-TOTAL_FORMS').value;
    for (count = 0; count < id; count++) {
      gst = document.getElementById(`id_facility_to_service_set-${count}-gstin`).value;
      service_typ = document.getElementById(`id_facility_to_service_set-${count}-service_type`);
      service_typ_name = service_typ.options[service_typ.selectedIndex].text;
      $(`<br>`)
      $(`<h3>${service_typ_name}</h3>`).appendTo(".services");
      $(`<label for="service${count}">Gst number:</label>`).appendTo(".services");
      $(`<input type='text' value='${gst}' id=service${count} readonly>`).appendTo(".services");
      $(`.serviceimage${count}`).remove();
      $(`<div class="serviceimage${count}"></div>`).appendTo(".services");
      $(`<br>`)
      if ($(`#id_facility_to_service_set-${count}-DELETE:checkbox:checked`).length == 1) {
        $(`<label for="theinput"> Is_deleted:<input type="checkbox" id="scales" name="scales"
         checked disabled></label>`).appendTo(".services");

      }






      var service_image_count = $(`#id_facility_to_service_set-${count}-image_g`).children('div').length;
      for (i = 0; i < service_image_count; i++) {
        var num = 100 + i;
        var canvas = document.getElementById(`id_facility_to_service_set-${count}-image${num}`);

        var dataURL = canvas.toDataURL();
        $(` <img  class="test" src="${dataURL}"  width="200" height="400" alt="Red dot"/>`).appendTo(`.serviceimage${count}`);

      }


    }
    var delete_items = $('#id_facility_to_service_set-1-DELETE:checkbox:checked').length;
    console.log(delete_items)
  }

  var modal = document.getElementById("myModal");


  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");



  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];


  // When the user clicks the button, open the modal 


  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function () {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }





  $('label[for=id_image_id], input#id_image_id').hide();
</script>
<script src="{% static 'js/download/cropper.min.js' %}"></script>
<script src="{% static 'js/admin/crop.js' %}"></script>
<script src="{% static 'js/admin/itadmin.js' %}"></script>





{% for item in original.items_set.all %} {{ item }} {% endfor %}

{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}

<div class="img-preview2"></div>
<div id="galleryImages_service"></div>
<div id="cropper_service">
  <canvas id="cropperImg_service" width="0" height="0"></canvas>
  <div id="can" value=""></div>
  <input type="button" class="cropImageBtn" id="cropImageBtn1" value="Crop">
</div>

{% if my_extra_content %}
<input type="submit" value="View all images" name="images"><br>

{% endif %}
{% endblock %}