{% extends "admin/change_form.html" %}


{% block after_field_sets %}{{ block.super }}
{% load static %}

<link rel="stylesheet" href="{% static 'css/admin/singlecrop.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'><link rel="stylesheet" href="./style.css">

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script> -->
{% for item in original.items_set.all %} {{ item }} {% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}





{% block submit_buttons_bottom %}
<div class="submit-row">
<input type="submit" value="save" name="_save_btn" class="save_btn" onclick="functiontest()"/>
</div>
{% endblock %}




  <img class="cropped" src="{{logo_img.logo}}" >
  <div class="box-2 img-result hide">
    <!-- <img class="cropped" src="" alt="" > -->
  </div>
  <main class="page">

    <!-- leftbox -->
    <div class="box-2">
      <div class="result"></div>
    </div>

    <!-- input file -->
    <div class="box">
      <div class="options hide">
        <input type="number" class="img-w" value="300" min="100" max="1200" hidden/>
      </div>
      <!-- save btn -->
      <button class="btn save hide">crop</button>
      <button class="btn cancel hide" type="button" onclick="cancelclick()">Cancel</button>
      
    </div>
  </main>
 <script>

function cancelclick(){
  
  $(".page").css('display','none');
  changedImage=false;

}

$("#service_form").prepend('<p  class="errornote" id="please_crop" hidden>please select and crop image</p>') 
$("#service_form").prepend('<p  class="errornote" id="please_cancel" hidden>Crop image or cancel</p>') 
$("#service_form").prepend('<p  class="errornote" id="all_fields" hidden>please fill all fields</p>') 



 $('.submit-row').hide()
 function functiontest(){
  document.getElementById("id_logo").value = "";
  event.preventDefault();
  cropped = document.querySelector('.cropped')


  var service_name=$('#id_service_name').val()
   var description=$('#id_description').val()
   if (($(".cropped").attr('src')==''&& (service_name == '' || description=='' ))||($(".cropped").attr('src') !==''&& (service_name == '' || description=='' ))){

  //  if ($(".cropped").attr('src')=='' && (service_name == '' || description=='' )){
 
 $("#all_fields").css('display','block');
}
else if($(".cropped").attr('src')==''&& (service_name !== '' && description !=='' )){
$("#please_crop").css('display','block');
}
else if(changedImage==true){
$("#please_cancel").css('display','block');
}

else{
$('#service_form').submit()
}

  // ######################################################################################################################
  // if ($(".cropped").attr('src')==''){
  //   alert("please crop image")

  // }
  // else if(changedImage==true){
  //   $("#service_form").prepend('<p  class="errornote">Crop image or cancel</p>') 
  //   // alert("Crop image or cancel")
  //  }
  // else{
  //   $('#service_form').submit()
  // }

  // ##########################################################################################################################
 }
//  $(".save_btn").click(function() {
//   alert( "Handler for .click() called." );
// });
  

 </script>

    
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<script>
var changedImage;
// vars
let result = document.querySelector('.result'),
img_result = document.querySelector('.img-result'),
img_w = document.querySelector('.img-w'),
img_h = document.querySelector('.img-h'),
options = document.querySelector('.options'),
save = document.querySelector('.save'),
cancel = document.querySelector('.cancel'),
cropped = document.querySelector('.cropped'),
dwn = document.querySelector('.download'),
upload = document.querySelector('#id_logo'),
cropper = '';

// on change show image with crop options
upload.addEventListener('change', e => {
  
  $(".page").css('display','block');
  changedImage=true;
  
  if (e.target.files.length) {
    const format_lst=['jpg','jpeg','png','PNG','JPEG','JPG']
    var nh= e.target.files[0]['name'].split('.').pop()

if (format_lst.includes(nh)== false){
 $("#service_form").prepend('<p  class="errornote">Unsupported file extension, supported formates(jpg,jpeg,png.) </p>') 
  // alert("Unsupported file extension, supported formates(jpg,jpeg,png.)")

}

else{
    // start file reader
    const reader = new FileReader();
    reader.onload = e => {
      if (e.target.result) {
        // create new image
        let img = document.createElement('img');
        img.id = 'image';
        img.src = e.target.result;
        // clean result before
        // result.innerHTML = '';
        // append new image
        result.innerHTML = '';
        result.appendChild(img);
        // show save btn and options
        save.classList.remove('hide');
        cancel.classList.remove('hide');
        options.classList.remove('hide');
        // init cropper
        cropper = new Cropper(img,{
          dragMode: 'move',
         
    // autoCropArea: 10,
    restore: false,
    guides: false,
    center: false,
    highlight: false,
    cropBoxMovable: true,
    cropBoxResizable: false,
    toggleDragModeOnDblclick: false,
    movable: false,
        });
        

      }
      
    };
    
    reader.readAsDataURL(e.target.files[0]);
  }
}
  
});


// save on click
save.addEventListener('click', e => {
  document.getElementById('id_logo_image_id').value = '';
  changedImage=false;
  e.preventDefault();
  // get result to data uri
  let imgSrc = cropper.getCroppedCanvas({
    aspectRatio: 1 / 1, // select area ratio 16:9, 4:3, 1:1, 2:3, free
    viewMode: 3, // sketch image to fit the container
    
    
    
    width: img_w.value // input value
  }).toDataURL();
  // remove hide class of img
  cropped.classList.remove('hide');
  img_result.classList.remove('hide');
  // show image cropped
  cropped.src = imgSrc;
  document.getElementById('id_logo_image_id').value = imgSrc;
  dwn.classList.remove('hide');
  dwn.download = 'imagename.png';
  dwn.setAttribute('href', imgSrc);
});


</script>



<script>
    $('#id_service_name').on('change', function(){
     var init_value =$(this).val();
  console.log(init_value)
  $.ajax({
  type: 'GET',
  url: '/admin/IT_ADMIN/service/add/',
  data: {'data':init_value

  },
  cache: false,
  success: function(result) {
     console.log(result)
     if(result.status == 200){
          document.getElementById("id_service_name").value = '';
          alert('This service is already created')
          

     }

    
     
    
  }
});

});
 

</script>


{% endblock %}
