{% extends "admin/change_form.html" %}

{% block after_field_sets %}{{ block.super }}
{% load static %}


<link rel="stylesheet" href="{% static 'css/admin/singlecrop.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'><link rel="stylesheet" href="./style.css">

{% for item in original.items_set.all %} {{ item }} {% endfor %}
{% endblock %}

{% block inline_field_sets %}
<!-- <img class="cropped_facility" src="{{vehicle_img.image}}"> -->
<div class="box-2 img-result_facility hide">
  <img class="cropped_facility" src="" alt="">
</div>
<main class="page">

	<!-- leftbox -->
	<div class="box-2">
		<div class="result_facility"></div>
	</div>

	<!-- input file -->
	<div class="box">
		<div class="options_facility hide">
			<input type="number" class="img-w1" value="300" min="100" max="1200" hidden/>
		</div>
		<!-- save btn -->
		<button class="btn save_facility_img hide">crop</button>
    <button class="btn cancel_facility hide" type="button" onclick="cancelclickfacility()">Cancel</button>
		
	</div>
</main>
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
{% block submit_buttons_bottom %}

<div class="submit-row">
<input type="submit" value="save" name="_save_btn" class="save_btn" onclick="functionfacility()"/>
</div>
{% endblock %}

<script>

// function cancelclickfacility(){
  
//   $(".page").css('display','none');
//   changedImagefacility=false;

// }

// $("#carwash_form").prepend('<p  class="errornote" id="please_crop" hidden>please select and crop image</p>') 
// $("#carwash_form").prepend('<p  class="errornote" id="please_cancel" hidden>Crop image or cancel</p>') 
// $("#carwash_form").prepend('<p  class="errornote" id="all_fields" hidden>please fill all fields</p>') 
// $("#carwash_form").prepend('<p  class="errornote" id="duplicate" hidden>vehicle name already exists</p>') 

          
  // $('.submit-row').hide()
  // $('.save_btn').attr('disabled', true);
//   function functionfacility(){
    
// document.getElementById("id_image").value = "";
//    event.preventDefault();
//    cropped = document.querySelector('.cropped_facility')//-----------------------------------------------------------------------------------
//    var vehicle=$('#id_vehicle').val()
//    var vehicle_type=$('#id_vehicle_type').val()
//    if (($(".cropped_facility").attr('src')==''&& (vehicle == '' || vehicle_type=='' ))||($(".cropped_facility").attr('src') !==''&& (vehicle == '' || vehicle_type=='' ))){ 
//     $("#all_fields").css('display','block');
// }
// else if($(".cropped_facility").attr('src')==''&& (vehicle !== '' && vehicle_type !=='' )){
//   $("#please_crop").css('display','block');
// }
// else if(changedImagefacility==true){
//   $("#please_cancel").css('display','block');
// }
// else{
//   $.ajax({
//         type: 'GET',
//         url: '/admin/IT_ADMIN/carwash/add/',
//         data: {
//           'data': vehicle
//         },
//         cache: false,
//         success: function (response) {
//           if (response.result == 0) {
//             $("#duplicate").css('display','block');
//           }
//           else{
//             $('#carwash_form').submit()
//           }
//         }
//       });
// }
//   }
  </script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<script>
var changedImagefacility;
// vars
let result = document.querySelector('.result_facility'),
img_result = document.querySelector('.img-result_facility'),
img_w1 = document.querySelector('.img-w1'),
img_h = document.querySelector('.img-h'),
options_facility = document.querySelector('.options_facility'),
save_facility = document.querySelector('.save_facility_img'),
cancel_facility = document.querySelector('.cancel_facility'),
cropped_facility = document.querySelector('.cropped_facility'),
dwn1 = document.querySelector('.download'),
uploadfacility = document.querySelector('#id_image'),
cropper_facility = '';
var imglstFacility=[];
var newArFacilityr=[];
var flagFacility=0

// on change show image with crop options
uploadfacility.addEventListener('change', e => {
  $(".page").css('display','block');
  changedImagefacility=true;
  
  
  if (e.target.files.length) {
    // start file reader

    const format_lst=['jpg','jpeg','png','PNG','JPEG','JPG']
  var nh= e.target.files[0]['name'].split('.').pop()
  // alert( e.target.files[0]['name'].split('.')[1])

if (format_lst.includes(nh)== false){
  $("#carwash_form").prepend('<p  class="errornote">Unsupported file extension, supported formates(jpg,jpeg,png.) </p>') 
}


else{
    const reader = new FileReader();
    reader.onload = e => {
      if (e.target.result) {
        // create new image
        let img = document.createElement('img');
        img.id = 'image';
        img.src = e.target.result;
        result.innerHTML = '';
        result.appendChild(img);
        // show save btn and options
        save_facility.classList.remove('hide');
        cancel_facility.classList.remove('hide');
        options_facility.classList.remove('hide');
        // init cropper
        cropper_facility = new Cropper(img,{
          dragMode: 'move',
    restore: false,
    guides: false,
    center: false,
    highlight: false,
    cropBoxMovable: false,
    cropBoxResizable: false,
    toggleDragModeOnDblclick: false,
    // data:{ //define cropbox size
    //   width: 2400,
    //   height:  200,
    // },
        });
      }
    };
    reader.readAsDataURL(e.target.files[0]);
  }
}
});

// save on click
save_facility.addEventListener('click', e => {
$(".page").css('display','none');
changedImagefacility=false;

  e.preventDefault();
  // get result to data uri
  let imgSrcFacility = cropper_facility.getCroppedCanvas({
    width: img_w1.value // input value
  }).toDataURL();
  // remove hide class of img
  cropped_facility.classList.remove('hide');
  img_result.classList.remove('hide');
  // if (flagFacility==1){
    imglstFacility.push(imgSrcFacility)
  // }
  for(j=0; j < imglstFacility.length; j++){
    cropped_facility.src = imglstFacility[j];
    // cropped_facility.src = imglstFacility[j];
  }
  // show image cropped_facility
  // cropped_facility.src = imgSrcFacility;
  // document.getElementById('id_vehicle_image_id').value = imgSrcFacility;
  dwn1.classList.remove('hide');
  dwn1.download = 'imagename.png';
  dwn1.setAttribute('href', imgSrcFacility);
});


</script>



{% endblock %}
