{% extends "admin/change_form.html" %}


{% block after_field_sets %}{{ block.super }}
{% load static %}


<link rel="stylesheet" href="{% static 'css/admin/singlecrop.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'><link rel="stylesheet" href="./style.css">

{% for item in original.items_set.all %} {{ item }} {% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}


<img class="cropped" src="{{speciality_img.image}}">
<div class="box-2 img-result hide">
  <img class="cropped" src="" alt="">
</div>
<main class="page">

	<!-- leftbox -->
	<div class="box-2">
		<div class="result"></div>
	</div>

	<!-- input file -->
	<div class="box">
		<div class="options hide">
			<input type="number" class="img-w" value="300" min="100" max="1200" hidden/>
		</div>
		<!-- save btn -->
		<button class="btn save hide">crop</button>
    <button class="btn cancel hide" type="button" onclick="cancelclick()">Cancel</button>
		
	</div>
</main>
 
{% block submit_buttons_bottom %}
<div class="submit-row">
<input type="submit" value="save" name="_save_btn" class="save_btn" onclick="functionspeciality()"/>
</div>
{% endblock %}

<script>

function cancelclick(){
  
  $(".page").css('display','none');
  changedImage=false;
  $("#id_image").val('');
}
$("#speciality_form").prepend('<p  class="errornote" id="please_crop" hidden>please select and crop image</p>') 
$("#speciality_form").prepend('<p  class="errornote" id="please_cancel" hidden>Crop image or cancel</p>') 
$("#speciality_form").prepend('<p  class="errornote" id="all_fields" hidden>please fill all fields</p>') 

  $('.submit-row').hide()
  function functionspeciality(){
document.getElementById("id_image").value = "";
   event.preventDefault();
   cropped = document.querySelector('.cropped')
   var title=$('#id_title').val()
   var description=$('#id_description').val()
   if (($(".cropped").attr('src')==''&& (title == '' || description=='' ))||($(".cropped").attr('src') !==''&& (title == '' || description=='' ))){

  //  if ($(".cropped").attr('src')=='' && (title == '' || description=='' )){
 
 $("#all_fields").css('display','block');
}
else if($(".cropped").attr('src')==''&& (title !== '' && description !=='' )){
$("#please_crop").css('display','block');
}
else if(changedImage==true){
$("#please_cancel").css('display','block');
}

else{
$('#speciality_form').submit()
}
// #################################################################################################################
  //  if ($(".cropped").attr('src')==''){
  //   $("#speciality_form").prepend('<p  class="errornote">please crop image</p>') 
 
  //  }
  //  else if(changedImage==true){
  //   $("#speciality_form").prepend('<p  class="errornote">Crop image or cancel</p>') 
  //  }
  //  else{
  //    $('#speciality_form').submit()
  //  }


// ##############################################################################################################################

  }

 
  </script>
  
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<script>
var changedImage;
// vars
let result = document.querySelector('.result'),
img_result = document.querySelector('.img-result'),
img_w = document.querySelector('.img-w'),
img_h = document.querySelector('.img-h'),
options = document.querySelector('.options'),
save = document.querySelector('.save'),
cancel = document.querySelector('.cancel'),
cropped = document.querySelector('.cropped'),
dwn = document.querySelector('.download'),
upload = document.querySelector('#id_image'),
cropper = '';

// on change show image with crop options
upload.addEventListener('change', e => {
  $(".page").css('display','block');
  changedImage=true;
  
  if (e.target.files.length) {
    // start file reader

    const format_lst=['jpg','jpeg','png','PNG','JPEG','JPG']
  var nh= e.target.files[0]['name'].split('.').pop()

if (format_lst.includes(nh)== false){
  $("#speciality_form").prepend('<p  class="errornote">Unsupported file extension, supported formates(jpg,jpeg,png.) </p>') 
}


else{
    const reader = new FileReader();
    reader.onload = e => {
      if (e.target.result) {
        // create new image
        let img = document.createElement('img');
        img.id = 'image';
        img.src = e.target.result;
        result.innerHTML = '';
        result.appendChild(img);
        // show save btn and options
        save.classList.remove('hide');
        cancel.classList.remove('hide');
        options.classList.remove('hide');
        // init cropper
        cropper = new Cropper(img,{
          dragMode: 'move',
    restore: false,
    guides: false,
    center: false,
    highlight: false,
    cropBoxMovable: false,
    cropBoxResizable: false,
    toggleDragModeOnDblclick: false,
    // data:{ //define cropbox size
    //   width: 2400,
    //   height:  200,
    // },
        });
      }
    };
    reader.readAsDataURL(e.target.files[0]);
  }
}
});

// save on click
save.addEventListener('click', e => {
document.getElementById('id_speciality_image_id').value = '';
changedImage=false;
  e.preventDefault();
  // get result to data uri
  let imgSrc = cropper.getCroppedCanvas({
    width: img_w.value // input value
  }).toDataURL();
  // remove hide class of img
  cropped.classList.remove('hide');
  img_result.classList.remove('hide');
  // show image cropped
  cropped.src = imgSrc;
  document.getElementById('id_speciality_image_id').value = imgSrc;
  dwn.classList.remove('hide');
  dwn.download = 'imagename.png';
  dwn.setAttribute('href', imgSrc);
});


</script>



{% endblock %}
