{% extends "admin/change_form.html" %}


{% block after_field_sets %}{{ block.super }}
{% load static %}


<link rel="stylesheet" href="{% static 'css/admin/singlecrop.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'><link rel="stylesheet" href="./style.css">

{% for item in original.items_set.all %} {{ item }} {% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}

<script>
          $(document).ready(function(){
                    // $('#id_type').mouseover(function(){
                              // event.preventDefault();

                              $.ajax({
                              type: 'GET',
                                        url: '/admin/IT_ADMIN/service/add/',
                                        async: false,
                                        dataType: 'json',
                                        success: function (result) { 
                                                  document.getElementById("id_type").innerHTML = null;
                                                  items=result.type_list
                                                  len_of_dict=Object.keys(items).length
                                                  if("o" in items){
                                                            }
                                                            else {
                                                            $("#id_type").append('<option value="o">others</option>');
                                                            }
                                                  for (k = 0; k < len_of_dict; k++) {
                                                  $("#id_type").append('<option value="' + Object.keys(items)[k]+ '">' +Object.values(items)[k]+ '</option>');      
                                          }
                                        }
                              })
                              // })       
                    })
          // })
</script>

 
{% endblock %}
