{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<fieldset class="=model">
  <form method="POST"></form>
  <div class="append"></div>
  </select>
  <input type="submit">
  </form>
</fieldset>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script>
  $(document).ready(function () {
    $('#id_audit_title').on('change', function () {
      var init_value = $(this).val();
      console.log(init_value)
      $.ajax({
        type: 'GET',
        url: '/admin/AUDIT/audit_schedule/add/',
        data: {
          'data': init_value

        },
        cache: false,
        success: function (result) {
          if (result.status == 200) {
            document.getElementById("id_audit_title").value = '';
            swal("Oops", "This audit is already created!", "error");

          }




        }
      });

    });

    $("select#id_facility_id").change(function () {
      var selectedCountry = $(this).val();
      $.ajax({
        method: "GET",
        url: "/admin/AUDIT/audit_schedule/add/",
        data: {
          'offset_limit': selectedCountry,

        },
        success: function (response) {
          $("#id_service_id").empty();

          let data = '';

          var count = Object.keys(response).length;
          $.each(response, function (key, value) {
            data += `<option value=${key}>${value}</option>`
          });

          console.log(data)
          $('#id_service_id').empty().append(data);


        }

      })


    }); zzz
  });
</script>

{% endblock %}