{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}


<div class="form-row-field-questions">


  <div>




    <div class="qustnsinstr">

      {% for i in question %}
      question:<input id="" name="question" value="{{i.questions}}" size="30" type="text" />
      instruction:<input id="" name="instruction" value="{{i.instructions}}" size="30" type="text" />
      <select name="score" id="score">
        <option value="pass">Pass</option>
        <option value="fail">fail</option>
      </select>
      <br>
      <br>
      {% endfor %}


    </div>



  </div>

</div>
<div class="form-row-field-docs">


  <div>


    <!-- <label>documents: <br></label> -->

    <div class="new">
      <H2>Documents</H2>
      {% for i in docs %}
      <BR></BR>
      <a href="https://res.cloudinary.com/beaconinfotech/image/upload/v1622022970/{{i.docs}}.pdf"> click here to
        view</a>

      {% endfor %}
      <BR></BR>
    </div>



  </div>
  <H2> Question</H2>
  <BR></BR>
</div>




<script>

  $('.form-row.field-service_id').after($('.form-row-field-questions'));
  $('.form-row-field-docs').insertAfter($('.form-row.field-service_id'));


</script>
{% endblock %}