{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

<div class="form-row-field-rating">
            
            
    <div>
        
        <h1>Rate the service</h1>

        <div>
            <div>
                <input type="hidden" id="object_passed" name="object_passed" value={{my_extra_content}}>
                Honesty:
                1:<input type="radio" name="honesty" id="rating-5" value="1" >
               
                2:<input type="radio" name="honesty" id="rating-4" value="2">
               
                3:<input type="radio" name="honesty" id="rating-3" value="3">
                
                4:<input type="radio" name="honesty" id="rating-2" value="4">
               
                5:<input type="radio" name="honesty" id="rating-1" value="5">
              
            </div>
        </div>
        <br>
        <br>
        <div>
            <div>
                Work_quality:
                1:<input type="radio" name="rating_work" id="rating-5" value="1">
                
                2:<input type="radio" name="rating_work" id="rating-4" value="2">
               
                3:<input type="radio" name="rating_work" id="rating-3" value="3">
                
                4:<input type="radio" name="rating_work" id="rating-2" value="4">
               
                5:<input type="radio" name="rating_work" id="rating-1" value="5">
                
            </div>
        </div>
        <br>
        <br>
        <div>
            <div>
                Punctality:
                1:<input type="radio" name="rating_punctuality" id="rating-5" value="1">
                
                2:<input type="radio" name="rating_punctuality" id="rating-4" value="2">
            
                3:<input type="radio" name="rating_punctuality" id="rating-3" value="3">
                
                4:<input type="radio" name="rating_punctuality" id="rating-2" value="4">
              
                5:<input type="radio" name="rating_punctuality" id="rating-1" value="5">
               
            </div>
        </div>
        <br>
        <br>
        <div>
            <div>
                Attitude:
                1:<input type="radio" name="rating_attitude" id="rating-5" value="1">
               
                2:<input type="radio" name="rating_attitude" id="rating-4" value="2">
                
                3:<input type="radio" name="rating_attitude" id="rating-3" value="3">
               
                4:<input type="radio" name="rating_attitude" id="rating-2" value="4">
              
                5:<input type="radio" name="rating_attitude" id="rating-1" value="5">
               
            </div>
        </div>
        <fieldset>

            

           
        </fieldset>
       
            
             
                </div>
            
        
        
    </div>
  
  </div>
  
<style>
    input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>



<script>



 $('.form-row.field-comments').before($('.form-row-field-rating'));
</script>

{% endblock %}

