{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}

<div class="form-row-field-questions">


    <div>

        <h2>Questions asked</h2>
        <br>

        <div class="qustnsinstr">

            {% for i in question %}
            question:<input id="" name="question" value="{{i.question_id}}" size="30" type="text" />
            instruction:<input id="" name="instruction" value="{{i.instructions}}" size="30" type="text" />
            Answer: <input id="" name="answer" value="{{i.answer}}" size="15" type="text" />
            <br>
            <br>
            {% endfor %}


        </div>



    </div>

</div>


</div>
</div>
<br>
<br>
<h1>Rate the service</h1>
<span class="rating-reaction"></span>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
</head>

<body>
    <div class="star-rating">
        <div class="thanks-msg">Thanks for your feedback !!!</div>
        <div class="star-input">
            <input type="radio" name="rating" id="rating-5" value="5" onclick="myfunction();">
            <label for="rating-5" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-4" value="4" onclick="myfunction();">
            <label for="rating-4" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-3" value="3" onclick="myfunction();">
            <label for="rating-3" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-2" value="2" onclick="myfunction();">
            <label for="rating-2" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-1" value="1" onclick="myfunction();">
            <label for="rating-1" class="fas fa-star"></label>

            <!-- Rating Submit Form -->


        </div>
    </div>

    <div class="form-row-field-docs">


        <div>


            <!-- <label>documents: <br></label> -->

            <div class="new">
                <H2>Documents</H2>

                {% for i in redoc %}
                <BR></BR>
                <a href="https://res.cloudinary.com/beaconinfotech/image/upload/v1622022970/{{i.docs}}.pdf"> click here
                    to view</a>

                {% endfor %}
                <BR></BR>
            </div>



        </div>
    </div>
    <fieldset class="module">
        <input type="hidden" id="rating" name="actual">
        <input type="submit">
    </fieldset>
    <style>
        .star-rating form {
            display: none;
        }

        .star-rating input {
            display: none;
        }

        .star-rating {
            margin: 50px auto;
            display: table;
            width: 350px;
        }

        .star-rating label {
            padding: 10px;
            float: right;
            font-size: 44px;
            color: black;
        }

        .star-rating input:not(:checked)~label:hover,
        .star-rating input:not(:checked)~label:hover~label {
            color: #ffc107;
        }

        .star-rating input:checked~label {
            color: #ffc107;
        }

        .star-rating form .rating-reaction:before {
            width: 100%;
            float: left;
            color: #ffc107;
        }

        .star-rating input:checked~form {
            border-top: 1px solid #ddd;
            width: 100%;
            padding-top: 15px;
            margin-top: 15px;
            display: inline-block;
        }

        .star-rating form .rating-reaction {
            font-size: 24px;
            float: left;
            text-transform: capitalize;
        }

        .star-rating form .submit-rating {
            border: none;
            outline: none;
            background: #795548;
            color: #ffc107;
            font-size: 18px;
            border-radius: 4px;
            padding: 5px 15px;
            cursor: pointer;
            float: right;
        }

        form .submit-rating:hover {
            background-color: #333;
        }
    </style>

    <script>
        const btn = document.querySelector(".submit-rating");
        const thanksmsg = document.querySelector(".thanks-msg");
        const starRating = document.querySelector(".star-input");

        function myfunction() {
            for (i = 0; i < document.getElementsByName('rating').length; i++) {
                if (document.getElementsByName('rating')[i].checked == true) {
                    var ratingValue = document.getElementsByName('rating')[i].value;
                    break;
                }
            }
            document.getElementById('rating').innerHTML = ratingValue;
        }
        $('.form-row.field-auditor').after($('.form-row-field-questions'));
        $('.form-row-field-docs').insertAfter($('.form-row.field-score'));

    </script>

    <script>
        $(document).ready(function () {
            $(this).removeAttr("href");
            return false;

        });
    </script>
    {% endblock %}