{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}


<div class="container">
  <h2 class="text-center"><u>Employees attendance</u></h2><br>   



<div>
 From Date :<input type="date" class="form-control" name="attend1" id="date" value="{{placement.date|date:"Y-m-d" }}">
 To Date<input type="date" class="form-control" name="attend2" id="date" value="{{placement.date|date:"Y-m-d" }}">
<input type="submit" value="search">
</div>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>employee</th>
        <th>date</th>
        <th>total_hours</th>
        <th>attendance mark</th>
      </tr>
    </thead>
<tbody>
{% for attend in emp_attend %}
<tr>
  <td>{{attend.employee_id}}</td>
  <td>{{attend.date}}</td>
  <td>{{attend.total_hours}}</td>
  <td>{{attend.attendance_mark}}</td>
  
</tr>
{% endfor %}
</tbody>

</table>
</div>

{% endblock %}
