{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>

<div class="form-row-field-data">
    <br>
<h1> ROLES ALOTTED FOR FACILITY SELECTED</h1>
<table>
    <tr>
        <th>Role name</th>
        <th>No of Roles required</th>
    </tr>
{%for i in data%}
<tr>
    <td>{{i.role}}</td>
    <td>{{i.no_of_role}}</td>
</tr>
{% endfor %}
<p>NOTE : u can only assign people as per role , if you dont see a role mentioned here while assigning employees it maybe previously assigned to other employees</p>
</table>
<br>
</div>

<script>
    $('.form-row.field-groups').after($('.form-row.field-groups'));
  $('.form-row-field-data').insertAfter($('.form-row.field-is_staff'));
</script>
{% endblock %}