{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}



<div class="container">
  <h2 class="text-center"><u>Service Details</u></h2><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>service type id</th>
        <th>service type</th>
        <th>facility</th>
        <th>gstin no</th>

      </tr>
    </thead>
    <tbody>
      {% for i in osm_data %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.service_type}}</td>
        <td>{{i.facility}}</td>
        <td>{{i.gstin}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div class="container">
  <h2 class="text-center"><u>Employee Details</u></h2><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>

        <th>first name</th>
        <th>dob</th>
        <th>blood group</th>
        <th>email</th>
        <th>phone number</th>
        <th>state</th>
        <th>district</th>
        <th>address</th>
        <th>image</th>
        <!-- <th>identitiy:</th> -->

      </tr>
    </thead>
    <tbody>

{% for p in opm_data %}
<tr>
  <td>{{p.first_name}}</td>
  <td>{{p.dob}}</td>
  <td>{{p.blood_group}}</td>
  <td>{{p.email}}</td>
  <td>{{p.phonenumber}}</td>
  <td>{{p.state}}</td>
  <td>{{p.district}}</td>
  <td>{{p.address}}</td>
  <td><img src="{{ p.image.url }}" width="100" height="100" /></td>
  <!-- <td><img src="{{ p.identitiy.url }}" width="100" height="100" /></td> -->

</tr>

      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->

<div class="container">
  <h2 class="text-center"><u>Team and shift Details</u></h2><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>team id</th>
        <th>team name</th>
        <th>shift name</th>
        <th>note</th>
      </tr>
    </thead>
    <tbody>
      {% for x in team %}
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.team_name}}</td>
        <td>{{x.shift_name}}</td>
        <td>{{x.note}}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<div class="container">
  <h2 class="text-center"><u>Service types and Number of Roles Required</u></h2><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>service type</th>
        <th>role</th>
        <th>no of role</th>
      </tr>
    </thead>
    <tbody>
      {% for role in service_role %}
      <tr>
        <td>{{role.service_type}}</td>
        <td>{{role.role}}</td>
        <td>{{role.no_of_role}}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}