{% extends 'admin/change_form.html' %}
{% comment %} {% block submit_buttons_bottom %}
{{ block.super }} {% endcomment %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<table>
  <h2>Leaves Alloted</h2>
{% for l,d,c in leave %}
<tr>
  <td>{{l}}</td>
  <td>{{c}}</td>
  <td>{{d}}</td>
</tr>
{% endfor %}
</table>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <style>
          .button {
            font-size: 1em;
            padding: 10px 15px;
            color: #fff;
            border: none ;
            border-radius: 20px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
          }
          .button:hover {
            background: #5479ceec;
          }
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: visible;
            opacity: 1;
          }
          .overlay:target {
            visibility: hidden;
            opacity: 0;
            display:none
          }
          .popup { position: relative;
            margin: 300px auto;
            padding: 60px;
            background: #fff;
            border-radius: 5px;
            width: 20%;
            transition: all 5s ease-in-out; }
.popup .close       { position: absolute; top: 20px; right: 30px; transition: all 200ms;
                      font-size: 30px; font-weight: bold; text-decoration: none; color: #333; }
.popup .close:hover { color: orange; }
.popup .content     { max-height: 30%; overflow: auto; }
/*.popup h2 { margin-top: 0; color: #333; font-family: Tahoma, Arial, sans-serif; }*/
     </style>
    <input type="submit" value="Attendance" name="Attendancereport">
    <input type="submit" value="Approve" name="_make-unique">
    <button type="button" class="button" style="padding: 10px 15px;" id="test">Reject leave</button>


    <div id="popup" class="overlay">
      <div class="popup">
        <div style="display: flex;">
          <h2 style="margin: 0;">Reject leave</h2>
          <div class="errorMsg" style="margin: 0;">
            <p style="color: red; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Please enter reject reason!</p>
          </div>
        </div>
        <textarea name="test" id="rreason" rows="7" style="width: 100%;"
          placeholder="Enter reason for rejection......."></textarea>
        <button class="close " style="border: none; background: none;" type="button" id="closemodal">×</button>
        <div class="content1">
          <a href="#popup1"><input type="submit" class="subButton"></a>
        </div>
      </div>
    </div>


    <script>
    $(document).ready(function(){
    $(".overlay").hide();
    $(".popup").hide();
});
  $("#test").click(function(){
    
    $(".overlay").show();
    $(".popup").show();
  });
  $('#closemodal').click(function() {
    $(".overlay").hide();
    $(".popup").hide();
});

    </script>

    <script>
      $(document).ready(function () {

        $('.subButton').attr('disabled', true);
        $('.errorMsg').hide();
        $('#rreason').keyup(function () {
          if ($(this).val().length != 0) {
            $('.subButton').attr('disabled', false);
            $('.errorMsg').fadeOut();
          }
          else {
            $('.subButton').attr('disabled', true);
            $('.errorMsg').fadeIn();
          }
        })
      });
    </script>

{% endblock %}