{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
  <h2>Salary</h2>
  <h3>Basic pay per month basis= {{pay}}</h3> <br>
  <h2>Allowance given for Employee</h2>
  <table style=" background-repeat:no-repeat; width:450px;margin:0;" cellpadding="0" cellspacing="0" border="0">
  {% for i in test %}
  <tr>
    <br>
    <td style="height:40px; width:40px; margin:0;">{{i.component_name}}</td>
    <td style="height:40px; width:40px; margin:0;">{{i.component_type}}</td>
    <td style="height:40px; width:40px; margin:0;">{{i.amount}}</td>
    </tr>
{% endfor %}
</table>
<br>
<h2>Total salary for presence</h2>
<h4>Total absence : {{no_of_absence}}</h4> <br>
<h4>Total salary : {{salary}}</h4> <br>
<h2>Total Payable : </h2><h3 style="color: green;">{{total_payable}} /-</h3>
<br>
{% if total_payable > 1 %}
<center><input type="submit" value="CLEAR PAYMENT" name="apply3"></center>
<br>
{% else %}
<center><h4>No pending salary clearence</h4><br>for last clearence check salary summary report</center>
{% endif %}
<br>
{% endblock %}
