{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<table>
  <h2>Employees in Facility</h2>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone number</th>
    <th>Work Title</th>
    <th>Employee Type</th>
    <th>Photo</th>
  </tr>
{%for i in employees%}
<tr>
  <td>{{i.first_name}}</td>
  <td>{{i.last_name}}</td>
  <td>{{i.phonenumber}}</td>
  <td>{{i.work_title}}</td>
  {% if i.account_expiry_date is null %}
  <td>Permenant</td>
  {% else %}
  <td>Temporary</td>
  {% endif %}
  <td><img src="{{i.image.url}}" width="100" height="100" ></td>
</tr>
{% endfor %}
</table>
<table>
  <h2>Teams in Facility</h2>
  <tr>
    <th>Team name</th>
    <th>Shift name</th>
    <th>Note</th>
  </tr>
{% for x in teams %}
<tr>
  <td>{{x.team_name}}</td>
  <td>{{x.shift_name}}</td>
  <td>{{x.note}}</td>
</tr>
{% endfor %}
</table>
<br>
  <fieldset class="module">
  <input type="submit" value="Initiate" name="apply2">
</fieldset>

{% endblock %}
