



{% extends "admin/base_site.html" %}

    {% load i18n %}
    
    {% block content %}





    <div class="container">
        <h2 class="text-center"><u>Attendance</u></h2><br>            
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Employee name:</th>
              <th>Date:</th>
              <th>In time:</th>
              <th>Out time:</th>
              <th>Total hours:</th>
              <th>Attendance mark:</th>
            </tr>
          </thead>
          <tbody>
          <!-- jinja2 Technique -->
          
          {% for i in form %}
            <tr>
              <td>{{i.employee_id}}</td>
              <td>{{i.date}}</td>
              <td>{{i.in_time}}</td>
              <td>{{i.out_time}}</td>
              <td>{{i.total_hours}}</td>
              <td>{{i.attendance_mark}}</td>
            </tr>
          {% endfor %}
       
          </tbody>
        </table>
      </div>

      {% endblock %}