{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<table>
{% for i in details %}
<tr>
    <th>Incident Title </th>
    <td>{{i.ticket_id__incident_id__title}}</td>
</tr>
<tr>
    <th>Incident description </th>
    <td>{{i.ticket_id__incident_id__description}}</td>
</tr>
<tr>
    <th>Initiated at </th>
    <td>{{i.ticket_id__incident_id__initiated_at}}</td>
</tr>
<tr>
    <th>Incident priority </th>
    <td>{{i.ticket_id__incident_id__priority}}</td>
</tr>
<tr>
    <th>Initiator name </th>
    <td>{{i.ticket_id__incident_id__initiator_id__first_name}}</td>
</tr>
<tr>
    <th>Initiator work title </th>
    <td>{{i.ticket_id__incident_id__initiator_id__work_title}}</td>
</tr>
<tr>
    <th>initiator phone</th>
    <td>{{i.ticket_id__incident_id__initiator_id__phonenumber}}</td>
</tr>
<tr>
    <th>Initiator Facility </th>
    <td>{{i.ticket_id__incident_id__initiator_id__facility_to_service__facility__facility_name}}</td>
</tr>
{% endfor %}
</table>
<br>
<input type="submit" value="Mark as completed">
<br>
{% endblock %}