{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
 
<div class="container">
<h2 class="text-center"><u>Employee Salary Details</u></h2><br>  


<div>
 From Date :<input type="date" class="form-control" name="test1" id="date" value="{{placement.date|date:"Y-m-d" }}">
 To Date<input type="date" class="form-control" name="test2" id="date" value="{{placement.date|date:"Y-m-d" }}">
<input type="submit" value="search">
</div>


  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>employee </th>
        <th>total addition</th>
        <th>total deduction</th>
         <th>gross payable</th>
         <th>extra bonus or fine</th>
         <th>clearing date</th>
      </tr>
    </thead>
    <tbody>

{% for i in s %}
<tr>
  <td>{{i.employee}}</td>
  <td>{{i.total_addition}}</td>
  <td>{{i.total_deduction}}</td>
  <td>{{i.gross_payable}}</td>
  <td>{{i.extra_bonus_or_fine}}</td>
  <td>{{i.clearing_date}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}