{% extends 'admin/base.html' %}
{% block title %}Travlounge{% endblock %}
{% load static %}
{% block branding %}
{{ block.super }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block extrastyle %}
<link rel='stylesheet' href="{% static 'css/admin.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/birdlogo.png' %}">

{% endblock %}
<h1>
  <a href="/admin"><img src="{% static 'img/logo2.png' %}" alt="Travlounge" class="brand_img" height="50"
      width="100"></a>
  </h1>
 
  {% endblock %}