{% extends "admin/index.html" %}
{% block extrahead %}
{% endblock %}
{% block sidebar %}
{{ block.super }}
<div id="token"></div>
<div id="msg"></div>
<div id="notis"></div>
<div id="err"></div>

<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-messaging.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    var tk;
    MsgElem = document.getElementById("msg");
    TokenElem = document.getElementById("token");
    NotisElem = document.getElementById("notis");
    ErrElem = document.getElementById("err");
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    var config = {
        apiKey: "AIzaSyAQr6t4B6eVlS-1gzWiE_acg7SGljt0Iu4",
        authDomain: "inbound-guru-276002.firebaseapp.com",
        projectId: "inbound-guru-276002",
        storageBucket: "inbound-guru-276002.appspot.com",
        messagingSenderId: "513942618301",
        appId: "1:513942618301:web:3f1b1ca1abc0feb5f4b7d4",
        measurementId: "G-32BC856S32"
    };
    firebase.initializeApp(config);
    const messaging = firebase.messaging();
    messaging
        .requestPermission()
        .then(function () {
            // MsgElem.innerHTML = "Notification permission granted."
            // console.log("Notification permission granted.");
            // get the token in the form of promise
            return messaging.getToken()
        })
        .then(function (token) {
            // TokenElem.innerHTML = "token is : " + token
            // tk =token
            // console.log(token)
            var base_url = window.location.origin;
            $.ajax({
                type: 'POST',
                url: base_url + '/token/',
                data: {
                    data: token,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log(data, 'success');
                },
                error: function (data) {
                    console.log(data);
                }
            })
        })
        .catch(function (err) {
            ErrElem.innerHTML = ErrElem.innerHTML + "; " + err
            console.log("Unable to get permission to notify.", err);
        });
    //   $.ajax({
    //   type: 'POST',
    //   url: '/token',
    //   data: {'data':token
    //   },
    //   cache: false,
    //   success: function(result) {
    //       alert(result)
    //      if(result.status == 200){
    //           document.getElementById("id_audit_title").value = '';
    //      }
    //   }
    // });
    //
    $(document).ready(function () {
        $('#content-related').hide();
        console.log('hi')
    });
    console.log(tk)
// console.log("kkk")
</script>
{% endblock %}